html,
body {
  scroll-behavior: smooth;
  font-family: "Inter", sans-serif;
}

.bg-custom-blue {
  background-color: #038aff !important;
}

.bg-custom-purple {
  background-color: #1d1348 !important;
}

.bg-custom-grey {
  background-color: #eeeff4 !important;
}

.bg-custom-purpleCTA {
  background-color: #161348 !important;
}

.bg-custom-LB {
  background-color: #fafbff !important;
}

.custom-purpleCTA {
  color: #161348 !important;
}

.customButton {
  padding: 12px 12px 12px 12px !important;
  border-radius: 6px !important;
}

.custom-textBlue {
  color: #152b5c !important;
}

.weight300 {
  font-weight: 300;
}

.text-decoration-underline {
  text-decoration-line: underline !important;
  text-decoration-thickness: 2px !important;
  text-underline-offset: 4px !important;
}

.text-decoration-underline-dashed {
  text-decoration-line: underline;
  text-decoration-style: dashed;
  text-decoration-thickness: 2px;
  text-underline-offset: 4px;
}

.profileIconYellow {
  font-size: 14px;
  color: white;
  width: fit-content;
  background-color: #febc3d;
  border-radius: 999px;
  padding: 12px;
}

.negGap {
  gap: -24px;
}

.lightDropS {
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.06);
}

.border-custom-grey {
  border: 2px solid #eeeff4;
}

.card-fixed {
  max-width: 240px;
  flex: 1 1 240px;
}

.skew {
  position: relative;
  height: 120px;
  z-index: -1;
  margin-top: -48px;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

.mt-16 {
  margin-top: 16rem !important;
}

.mb-8 {
  margin-bottom: 10rem !important;
}

.p-6 {
  padding: 6rem !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.border-card {
  border-radius: 12px 12px 64px 12px;
}

.border-CTA {
  border-radius: 0px 64px 0px 64px;
}

.cardNumber-f {
  font-weight: 400;
  font-size: 24px;
}

.cardDetail-f {
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.vidAbsolute {
  position: absolute;
  top: -128px;
  right: -100px;
}

.accordion-button::after {
  display: none;
}

.mobileList {
  background: #161348;
  list-style: none;
  padding: 0 16px;
  margin: 0;
  border-radius: 8px;
}

.mobileList {
  height: 0;
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: height 0.5s ease, opacity 0.5s ease;
}

.mobileList.open {
  height: 176px;
  visibility: visible;
  opacity: 1;
}

.mobileList li {
  padding: 12px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.mobileList li:last-child {
  border-bottom: none;
}

.mobileList a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.hamburger {
  cursor: pointer;
}

@media only screen and (max-width: 991px) {
  .vidAbsolute {
    top: -300px;
    right: 0px;
  }

  .mb-8 {
    margin-bottom: 6rem !important;
  }
}
