.bg-custom-blue {
  background-color: #038aff !important;
}

.bg-custom-purple {
  background-color: #1d1348 !important;
}

.bg-custom-grey {
  background-color: #eeeff4 !important;
}

.bg-custom-purpleCTA {
  background-color: #161348 !important;
}

.bg-custom-LB {
  background-color: #fafbff !important;
}

.custom-purpleCTA {
  color: #161348 !important;
}

.negGap {
  gap: -24px;
}

.lightDropS {
  box-shadow: 0 0px 24px rgba(0, 0, 0, 0.06);
}

.border-custom-grey {
  border: 2px solid #eeeff4;
}

.card-fixed {
  max-width: 240px;
  flex: 1 1 240px;
}

.skew {
  position: relative;
  height: 120px;
  z-index: -1;
  margin-top: -48px;
  -webkit-transform: skewY(-2deg);
  -moz-transform: skewY(-2deg);
  -ms-transform: skewY(-2deg);
  -o-transform: skewY(-2deg);
  transform: skewY(-2deg);
}

.mt-16 {
  margin-top: 16rem !important;
}

.mb-8 {
  margin-bottom: 10rem !important;
}

.p-6 {
  padding: 6rem !important;
}

.w-fit {
  width: fit-content;
}

.h-fit {
  height: fit-content;
}

.border-card {
  border-radius: 12px 12px 64px 12px;
}

.border-CTA {
  border-radius: 0px 64px 0px 64px;
}

.cardNumber-f {
  font-weight: 400;
  font-size: 24px;
}

.cardDetail-f {
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.vidAbsolute {
  position: absolute;
  top: -128px;
  right: -100px;
}

.accordion-button::after {
  display: none;
}
